    <!--SIDE BAR-->
  <header class="container-fluid m-4">
    <div class="row">
      <div class="col">
        <!--Debut nav-->
        <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
          <div class="sidebar-sticky pt-3">
            <ul class="sitemap">
              {%- for item in compagnys %}
                  <li class="nav-item">
                    <a class="nav-link active textBlack">{{ item }}
                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-home"><path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path><polyline points="9 22 9 12 15 12 15 22"></polyline></svg>
                  {%- if item == "Ibm" -%}
                      <ul class="submenu">{{listes[0].to_html(classes="table table-striped") | safe}}</ul>
                      <span class="sr-only">(current)</span>
                  {%- endif %}
                    </a>
                  </li>
              {%- endfor %}
            </ul>
          </div>
        </nav>
        <!--Fin nav-->
      </div>
    </div>
  </header>